@media (min-width: 992px) {
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        display: block;
        overflow-y: auto;
        overflow-x: hidden;
        /* Scrollable contents if viewport is shorter than content. */
    }
}


/* Sidebar Styles */

.sidebar {
    background: #4D394B;
}

.sidebar-nav {
    top: 0;
    list-style: none;
}

.sidebar-nav li {
    margin: 0 0 .5em .5em;
    line-height: 1.2em;
    font-weight: 400;
}

.sidebar-nav li a, .sidebar-nav li a:focus {
    text-decoration: none;
    color: #999999;
    background: transparent;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active {
    background: #fff;
    color: #999999;
}

.sidebar-nav > .sidebar-brand {
    margin: 0.7em 0;
    padding: 0;
    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    color: #E5E5E5;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#conferenceSidebar .fa-check {
    color: #009874;
}

#conferenceSidebar .fa-user {
    color: #337ab7;
}

#conferenceSidebar .fa-certificate {
    color: #f1af08;
}

#conferenceSidebar .fa-exclamation-circle {
    color: #f1885c;
}


/* Scroll Spy sidebar */

.sections-sidebar>ul.nav {
    overflow-y: auto;
}

.sections-sidebar>.nav>li>a {
    padding-left: 20px;
    background-color: transparent;
}

.sections-sidebar>.nav>.active:focus>a, .sections-sidebar>.nav>.active:hover>a, .sections-sidebar>.nav>.active>a {
    padding-left: 18px;
    font-weight: 700;
    color: #4D394B;
    background-color: transparent;
    border-left: 2px solid #4D394B;
}

.sections-sidebar>.nav>li:hover>a {
    padding-left: 19px;
    color: #4D394B;
    background-color: transparent;
    border-left: 1px solid #4D394B;
}


/* Scroll Spy sidebar Sub sections */

.sections-sidebar>.nav>li>ul {
    display: none;
}

.sections-sidebar>.nav>.active>ul {
    display: initial;
}

.sections-sidebar>.nav>li>.nav>li>a {
    background-color: transparent;
    font-size: 10pt;
    padding-left: 40px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 4px;
}

.sections-sidebar>.nav>li>.nav>.active:focus>a, .sections-sidebar>.nav>li>.nav>.active:hover>a, .sections-sidebar>.nav>li>.nav>.active>a {
    font-weight: 700;
    color: #4D394B;
    background-color: transparent;
    padding-left: 38px;
    border-left: 2px solid #4D394B;
}

.sections-sidebar>.nav>li>.nav>li:hover>a {
    background-color: transparent;
    color: #4D394B;
    padding-left: 39px;
    border-left: 1px solid #4D394B;
}

/*END Scroll Spy*/

/* Conferences Sidebar Section */

.conferences-panel .panel-heading{
    padding: 0px;
    border: 0;
    background: transparent;
}

.conferences-panel .panel-heading .btn{
    border-radius: 4px;
    font-weight: 700;
    text-transform: uppercase;
}

.conferences-panel.panel{
    border: 0;
    background-color: transparent;
}

.conferences-panel .panel-body{
    border-color: #337ab7;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-radius: 0px 0px 4px 4px;
    background-color: transparent;
}
