@import 'https://fonts.googleapis.com/css?family=Raleway:500,700';
body {
	position: relative;
}

.banner-text, .profile-panel, .sidebar-nav, .sections-sidebar {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-style: normal;
}

.affix {
	top: 20px;
}

.affix-top {
	margin-top: 20px;
}

.error-message {
	color: #f22626;
}

.help-inline.error {
	margin: 0em 2em;
}

.paper-container {
	min-height: 100vh;
}

.page-content>.row>div {
	padding-left: 0px;
	padding-right: 0px;
}

#loginpanel .tab-pane {
	margin-top: 20px;
}


/*
div.form-group + div.form-group{
	padding-left: 0;
}
*/


/* Profile panel */

.profile-panel {
	margin: 2em;
}

.profile-panel>.btn {
	margin: 0.2em;
}

.profile-panel>.name {
	margin: auto 0.2em;
	color: #E5E5E5;
	display: inline;
}


/* Banner */

.banner {
	box-sizing: border-box;
	background: #47abf7;
	height: 150px;
	border-bottom: 5px solid #125384;
}

.banner>* {
	height: 100%;
}

.banner-text {
	font-size: 40pt;
	text-transform: uppercase;
	color: #FFF;
	padding: auto 0.5em;
}


/* Center and fit */

.paper-center {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 768px) {
	.paper-center {
		max-width: 750px;
	}
}

@media (min-width: 992px) {
	.paper-center {
		max-width: 970px;
	}
}

@media (min-width: 1200px) {
	.paper-center {
		max-width: 1170px;
	}
}

a, a:active, a:focus {
	outline: none;
}


/* Scroll Bar */

*::-webkit-scrollbar {
	width: 10px;
	height: 10px
}

*::-webkit-scrollbar-thumb {
	background: #ccc;
}

*::-webkit-scrollbar-thumb:hover {
	background: #777;
}

#sidebar-wrapper::-webkit-scrollbar {
	width: 7px;
}

#sidebar-wrapper::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, .05);
}

#sidebar-wrapper::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 255, .4);
}

#sidebar-wrapper::-webkit-scrollbar-thumb:hover {
	background: rgba(255, 255, 255, .6);
}


/* End Scroll Bar */


/*
.paper-container section:hover {
	box-shadow: 0 0 6px #4D394B;
}

.paper-container section {
	box-shadow: 0 0 0 0 #000;
	transition: all 100ms ease-out;
	border-radius: 5px;
}*/
