@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
#sidebar-wrapper {
    font: 14px Helvetica, Arial, sans-serif;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color: #2B2B2B;
}

.error {
    color: #f22626;
}

.help-inline.error {
    margin: 0em 2em
}

.sidebar {
    background: #4D394B;
}

#page-content-wrapper * {
    background: #FFFFFF;
}

#paper-container {
    min-height: 100vh;
}
/*
@media print {
    body * {
        visibility: collapse;
    }
    #paper-container, #paper-container * {
        visibility: visible;
    }
    #paper-container {
        position: absolute;
        left: 0;
        top: 0;
    }
    
}*/

/* Center and fit */
.paper-center {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
  .paper-center {
    max-width: 750px;
  }
}
@media (min-width: 992px) {
  .paper-center {
    max-width: 970px;
  }
}
@media (min-width: 1200px) {
  .paper-center {
    max-width: 1170px;
  }
}