body {
    font: 14px Helvetica, Arial, sans-serif;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color: #2B2B2B;
}

.error {
	color: #f22626;
}
.help-inline.error{
	margin: 0em 2em
}

body {
    background: #4D394B;
}
#page-content-wrapper * {
    background: #FFFFFF;
}